@using ControllRR.Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
  
<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <!--principal->
          <div class="container-fluid">  <!--largura total-->
   <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto">
      <li class="nav-item"><a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>

      </li>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Manutenções
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" asp-action="MaintenanceList" asp-controller="Maintenances">Listar</a>
          <a class="dropdown-item" asp-action="New" asp-controller="Maintenances">Nova</a>
          <a class="dropdown-item" asp-action="External" asp-controller="Maintenances">Atendimento Externo</a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
            <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Estoque
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" asp-action="SearchProduct" asp-controller="Stocks">Listar Produto</a>
          <a class="dropdown-item" asp-action="NewProduct" asp-controller="Stocks">Inserir Produto</a>
          <a class="dropdown-item" asp-action="ReportProduct" asp-controller="Stocks">Relatorios de Entrada/Saida</a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" asp-action="GetAll" asp-controller="Users">Listar</a>
          <a class="dropdown-item" asp-action="CreateNewUser" asp-controller="Users">Novo</a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Setores
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" asp-action="GetAll" asp-controller="Sectors">Ver Todos</a>
          <a class="dropdown-item" asp-action="CreateNewSector" asp-controller="Sectors">Novo</a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dispositivos
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" asp-action="CreateNew" asp-controller="Devices">Novo</a>
          <a class="dropdown-item" asp-action="List" asp-controller="Devices">Buscar</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Inventario</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Arquivos
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" asp-action="FileUpload" asp-controller="Documents">Enviar Documentos</a>
          <a class="dropdown-item" asp-action="SimpleSearch" asp-controller="SalesRecords">Manuais</a>
          <a class="dropdown-item" asp-action="GroupingSearch" asp-controller="SalesRecords">Memorandos</a>
          <a class="dropdown-item" asp-action="GroupingSearch" asp-controller="SalesRecords">Oficios</a>
          <a class="dropdown-item" asp-action="GroupingSearch" asp-controller="SalesRecords">Documentos Internos</a>
          <a class="dropdown-item" asp-action="GroupingSearch" asp-controller="SalesRecords">Frequencia</a>


        </div>
      </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Sistema
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="~/Identity/Account/Manage">Minha Conta</a>
          <a class="dropdown-item" href="~/Identity/Account/Register">Cadastrar Operador</a>
          <a class="dropdown-item" href="#">Status Servidor</a>
          <a class="dropdown-item" href="#">Chat online</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="~/Identity/Account/Logout">Sair</a>
        </div>
  </div>
  </ul>
  </div>

</nav>